[submodule "gapic-generator-java"]
	path = gapic-generator-java
	url = https://github.com/googleapis/gapic-generator-java.git
[submodule "java-shared-config"]
	path = java-shared-config
	url = https://github.com/googleapis/java-shared-config.git
[submodule "java-pubsub"]
	path = java-pubsub
	url = https://github.com/googleapis/java-pubsub.git
[submodule "java-bigquery"]
	path = java-bigquery
	url = https://github.com/googleapis/java-bigquery.git
[submodule "java-bigtable"]
	path = java-bigtable
	url = https://github.com/googleapis/java-bigtable.git
[submodule "java-spanner-jdbc"]
	path = java-spanner-jdbc
	url = https://github.com/googleapis/java-spanner-jdbc.git
